body {
    color:black;
}
.row {
    width:100%;
    height:100px;
    position:absolute;
    z-index:0;
}
.staff {
    background-image:url("../img/music-staff.svg");
    background-repeat:repeat-x;
    height:100px;
    position:absolute;
    display:block;
    z-index:-1;
    width:100%;
}
.treble:before {
    content:"\1D11E";
    float:left;
    font-size:100px;
    position:relative;
}
.colon:before {
    content: "\1D108";
    float:left;
    font-size:100px;
    position:relative;
}
/* Each beat is represented by 25px width */
.time-signature-4-4 {
    background-image:url("../img/4-4.svg");
    background-repeat:none;
    height:100px;
    width:50px;
    position:relative;
    float:left;
}
.measure {
    border-left: 3px solid black;
    border-right: 3px solid black;
    position: relative;
    float:left;
    display:block;
    height:96px;
    padding-right:15px;
}

.a {
    margin-top:27px;
}
.b {
    margin-top:17px;
}
.g {
    margin-top:-11px;
}
.low-d {
    margin-top: +20px;
}
.low-c {
    margin-top: +29px;
    text-decoration: line-through;
}
.down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.measure .note-wrap:first-of-type {
    margin-left:15px;
}
.measure .note-wrap:last-of-type {
    margin-right:15px;
}
.note-wrap {
    width:25px;
    height:100px;
    position:relative;
    float:left;
    margin-left:5px;
    margin-right:5px;
}
.line:after {
    content:"\1D116";
    font-size:40px;
    font-weight:700;
    position:absolute;
    z-index:5;
    margin-top:65px;
    margin-left:-2px;
}
.half-note:before {
    content:"\1D15E";
    font-size:100px;
    position:relative;
}
.half-note {
    width:50px;
    float:left;
}
.quarter-note:before {
    font-size:100px;
    content:"\1D15F";
    position:relative;
}
.quarter-note {
    width:25px;
    float:left;
}
.eighth-note:before {
    content:"\1D160";
    font-size:100px;
    position:relative;
}
.eighth-note {
    width:17px;
    float:left;
}


